In [1]:
# import dependencies
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests
import pymongo
from splinter import Browser
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
# use splinter to 
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 89.0.4389
[WDM] - Get LATEST driver version for 89.0.4389
[WDM] - Driver [/Users/sarapatel/.wdm/drivers/chromedriver/mac64/89.0.4389.23/chromedriver] found in cache

In [3]:
# get the url for NASA's latest news
url ="https://mars.nasa.gov/news/"
# open the url
browser.visit(url)

In [9]:
# create the html
html = browser.html

# create beautifulsoup object
soup = bs(html, "html.parser")

In [10]:
# get the latest news data with beautifulsoup
data = soup.find("li", class_="slide")
print(data)

<li class="slide"><div class="image_and_description_container"><a href="/news/8892/another-first-perseverance-captures-the-sounds-of-driving-on-mars/" target="_self"><div class="rollover_description"><div class="rollover_description_inner">NASA’s newest rover recorded audio of itself crunching over the surface of the Red Planet, adding a whole new dimension to Mars exploration.</div><div class="overlay_arrow"><img alt="More" src="/assets/overlay-arrow.png"/></div></div><div class="list_image"><img alt="NASA’s Mars Perseverance rover acquired this image using its onboard Left Navigation Camera." src="/system/news_items/list_view_images/8892_PIA23729-Mars_Perseverance-320x240.jpg"/></div><div class="bottom_gradient"><div><h3>Another First: Perseverance Captures the Sounds of Driving on Mars</h3></div></div></a><div class="list_text"><div class="list_date">March 17, 2021</div><div class="content_title"><a href="/news/8892/another-first-perseverance-captures-the-sounds-of-driving-on-mars/" target="_self">Another First: Perseverance Captures the Sounds of Driving on Mars</a></div><div class="article_teaser_body">NASA’s newest rover recorded audio of itself crunching over the surface of the Red Planet, adding a whole new dimension to Mars exploration.</div></div></div></li>

In [11]:
# use bs to get news title and paragraph info
news_title = data.find("div", class_="content_title").a.text
paragraph = data.find("div", class_="article_teaser_body").text
print(news_title)
print("----------------")
print(paragraph)

Another First: Perseverance Captures the Sounds of Driving on Mars
----------------
NASA’s newest rover recorded audio of itself crunching over the surface of the Red Planet, adding a whole new dimension to Mars exploration.

## Mars Space Images - Featured Image

In [56]:
# get the url for the image
featured_url = 'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/index.html'

# use browser to open the url for image
browser.visit(featured_url)

In [57]:
# create html to parse
html_image = browser.html

soup = bs(html_image, 'html.parser')

In [60]:
# create the url for the image


featured_image_url  = soup.find('img', class_="headerimage fade-in")['src']


main_url = 'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/'

# create the url for the image

featured_image_url = main_url + featured_image_url

print(featured_image_url)

https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/image/featured/mars1.jpg

## Mars Facts

In [61]:
# get the url for Mars's facts 
facts_url = "https://space-facts.com/mars/"

# # Use panda's `read_html` to parse the url
table = pd.read_html(facts_url)
table

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [63]:
# convert table to pandas dataframe
facts_df = table[0]
facts_df

#rename the columns
facts_df.columns=["Fact Description", "Fact Value"]
facts_df

       Fact Description                     Fact Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

## Mars Hemispheres